.search {
    width: calc(100% - 30px - 7.5%);
    height: 30px;
    border: none;
    border-radius: 25px;
    background-color: #4F94CD;
    display: flex;
}
.search input {
    border: none;
    margin: auto;
    width: 95%;
    color: #FFF;
    background-color: #4F94CD;

}
.search input:focus{
    outline: none;
    font-family: 'Roboto';
}
