.burger{
    position: relative;
    display: block;
    width: 30px;
    height: 20px;
    cursor: pointer;
    border: none;
    padding: 0;
}
.burger span{
    position: absolute;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 2px;
    cursor: pointer;
    top: 9px;
    left: 0;
}
.burger:before,
.burger:after{
    content: '';
    width: 100%;
    position: absolute;
    height: 2px;
    border-radius: 5px;
    left: 0;
}
.burger:before{
    top: 0;
}
.burger:after{
    bottom: 0;
}